<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <h1>This is EJG file</h1>
    <h2>Random Number: <%= randomNumber %></h2> 
    <% if(randomNumber%2==0){ %>
    <h2>This  is an even number</h2>
    <% }else{ %>
    <h2>This is is an odd number</h2>
    <% } %>

<%- include('partials/footer') %>
